@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 650px;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 650px;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 85px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 1;
}

nav button {
    /* z-index: 1; */
    position: relative;
}

nav div {
    z-index: 1;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 85px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 22px;
    padding: 0 24px;

}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    /* position: relative;
    z-index: 1; */
}

.btn {
    padding: 6px 14px;
    margin: 0 5px;
    font-weight: 700;
    background-color: white;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.393);
    cursor: pointer;
    font-size: 14px;
    align-items: center;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-red {
    background-color: #e50914;
    color: white;
    font-size: 24px;
    padding: 12px 28px;
    border-radius: 4px;
    font-weight: 400;
    align-items: center;
    display: flex;
}
.btn-red img{
    height: 30px;
    margin-left: 10px;
}

input {
    font-size: 16px;
    padding: 18px 100px 18px 14px;
    border-radius: 4px;
    background-color: rgba(25, 25, 25, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.393);
    font-weight: 700;
    color: white;
}

.btn-red-sm {
    background-color: #e50914;
    color: white;
    
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 70vw;
    padding: 80px 0;
}

.secimg,
.secimg-2 {
    position: relative;
    align-items: center;
}

.secimg img {
    width: 555px;
    z-index: 10;
}

.secimg video {
    width: 408px;
    position: absolute;
    top: 84px;
    left: 70px;
}

.secimg-2 img {
    width: 555px;
    z-index: 10;
}

.secimg-2 video {
    width: 346px;
    position: absolute;
    top: 47px;
    left: 101px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.icon {
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.inline {
    display: flex;
    border: 2px solid grey;
    border-radius: 13px;
    padding: 5px 12px;
    width: 60%;
    align-items: center;

    position: absolute;
    z-index: 20;
    background-color: black;
    bottom: 100px;
    justify-content: space-between;
}

.inline img {
    width: 50px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 15px;
}

.loading {
    border: 4px solid blue;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        border: 4px solid blue;

    }

    50% {
        transform: rotate(90deg);
        border: 4px dotted blue;

    }

    100% {
        transform: rotate(180deg);
        border: 4px dotted blue;
    }
}

.second{
    text-align: center;
    padding: 80px 0;
}
.second h1{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900;
}
.ques{
    background-color: rgb(50, 50, 50);
    margin:10px 140px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.ques img{
    filter: invert(1);
}
.q2{
    padding: 20px;
    gap: 20px;
}
.hd{
    font-size: 20px;
    margin: 20px;
}
footer{
    padding: 50px 100px;
    margin: 0 30px;
    color: rgb(176, 174, 174);
    font-size: 14px;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
   

.foot ul li{
    list-style: none;
    margin: 18px 0;
    text-decoration: underline;
    
}
.btn2{
margin: 0;
}
.netf{
    margin: 20px 0;
}

@media only screen and (max-width:768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }
}